/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */

.f-96,
.f-headline {
  font-size: 6rem;
}
.f-80,
.f-subheadline {
  font-size: 5rem;
}


/* Type Scale */

.f-48 { font-size: 3rem; }
.f-40 { font-size: 1.5rem; }
.f-36 { font-size: 2.25rem; }
.f-32 { font-size: 2rem; }
.f-28 { font-size: 1.75rem; }
.f-24 { font-size: 1.5rem; }
.f-20 { font-size: 1.25rem; }
.f-18 { font-size: 1.125rem; }
.f-20 { font-size: 1.25rem; }
.f-16 { font-size: 1rem; }
.f-14 { font-size: .875rem; }
.f-12 { font-size: .75rem; } /* Small and hard to read for many people so use with extreme caution */
.f-10 { font-size: .625rem; }
.f-8 { font-size: .5rem; }

@media (--breakpoint-not-small){
  .f-6-ns,
  .f-headline-ns { font-size: 6rem; }
  .f-5-ns,
  .f-subheadline-ns { font-size: 5rem; }
  .f-48-ns { font-size: 3rem; }
  .f-40-ns { font-size: 1.5rem; }
  .f-36-ns { font-size: 2.25rem; }
  .f-32-ns { font-size: 2rem; }
  .f-28-ns { font-size: 1.75rem; }
  .f-24-ns { font-size: 1.5rem; }
  .f-20-ns { font-size: 1.25rem; }
  .f-18-ns { font-size: 1.125rem; }
  .f-20-ns { font-size: 1.25rem; }
  .f-16-ns { font-size: 1rem; }
  .f-14-ns { font-size: .875rem; }
  .f-12-ns { font-size: .75rem; } /* Small and hard to read for many people so use with extreme caution */
  .f-10-ns { font-size: .625rem; }
  .f-8-ns { font-size: .5rem; }
}

@media (--breakpoint-medium) {
  .f-96-m,
  .f-headline-m { font-size: 6rem; }
  .f-80-m,
  .f-subheadline-m { font-size: 5rem; }
  .f-48-m { font-size: 3rem; }
  .f-40-m { font-size: 1.5rem; }
  .f-36-m { font-size: 2.25rem; }
  .f-32-m { font-size: 2rem; }
  .f-28-m { font-size: 1.75rem; }
  .f-24-m { font-size: 1.5rem; }
  .f-20-m { font-size: 1.25rem; }
  .f-18-m { font-size: 1.125rem; }
  .f-20-m { font-size: 1.25rem; }
  .f-16-m { font-size: 1rem; }
  .f-14-m { font-size: .875rem; }
  .f-12-m { font-size: .75rem; } /* Small and hard to read for many people so use with extreme caution */
  .f-10-m { font-size: .625rem; }
  .f-8-m { font-size: .5rem; }
}

@media (--breakpoint-large) {
  .f-96-l,
  .f-headline-l {
    font-size: 6rem;
  }
  .f-80-l,
  .f-subheadline-l {
    font-size: 5rem;
  }
  .f-48-l { font-size: 3rem; }
  .f-40-l { font-size: 1.5rem; }
  .f-36-l { font-size: 2.25rem; }
  .f-32-l { font-size: 2rem; }
  .f-28-l { font-size: 1.75rem; }
  .f-24-l { font-size: 1.5rem; }
  .f-20-l { font-size: 1.25rem; }
  .f-18-l { font-size: 1.125rem; }
  .f-20-l { font-size: 1.25rem; }
  .f-16-l { font-size: 1rem; }
  .f-14-l { font-size: .875rem; }
  .f-12-l { font-size: .75rem; } /* Small and hard to read for many people so use with extreme caution */
  .f-10-l { font-size: .625rem; }
  .f-8-l { font-size: .5rem; }
}
